---
layout: default
active: people
---
<div class="container-fluid text-center">
	<div class="row">
	
	{% for person in site.people %}
		{% if person.role == "PI" %}
			{% include person.html %}
		{% endif %}
	{% endfor %}

	{% for person in site.people %}
		{% if person.role == "Research Scientist" %}
			{% include person.html %}
		{% endif %}
	{% endfor %}


	{% for person in site.people %}
		{% if person.role == "Postdoc" %}
			{% include person.html %}
		{% endif %}
	{% endfor %}


	{% for person in site.people %}
		{% if person.role == "Grad" %}
			{% include person.html %}
		{% endif %}
	{% endfor %}

	{% for person in site.people %}
		{% if person.role == "Undergrad" %}
			{% include person.html %}
		{% endif %}
	{% endfor %}

	</div>
</div>

<!--
<div class="container text-center">
	<div class="row">
		<div class="col-md-4 container">
			<img src="{{site.baseurl}}/images/people/ben_kerr.jpg" class="img-rounded" height="200"> </br>
			Ben Kerr
		</div>
		<div class="col-md-4">
			<img src="{{site.baseurl}}/images/people/brian_connelly.jpg" class="img-rounded"  height="200"> </br>
			Brian Connelly
		</div>
		<div class="col-md-4">
			<img src="{{site.baseurl}}/images/people/sylvie_estrela.png" class="img-rounded" height="200"> </br>
			Sylvie Estrela
		</div>
	</div>


</div>
-->