---
layout: default
active: people
---
<div class="container-fluid">
	<div class="container-fluid text-center">
		<div class="row">
		{% assign loopindex = 0 %}

		{% assign current_people = site.people | sort: "name" | where: "current", true %}

		{% for person in current_people %}
			{% assign rowfinder = loopindex | modulo: 4 %}
			{% if rowfinder == 0 %}
				<div class="row">
			{% endif %}

			{% include person.html %}

			{% if rowfinder == 3 %}
				</div>
			{% endif %}

			{% assign loopindex = loopindex | plus: 1 %}

		{% endfor %}
	</div>
</div>

<script>
$("#popover").popover({ trigger: "hover" });
</script>