<header class="site-header">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kerr Lab</a>
    </div>
    <div id="navbar" class="nav navbar-nav navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">People</a></li>
        <li><a href="#contact">Projects</a></li>
        <li><a href="#">Papers</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>

</header>
