<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Luis Zaman</a>
    </div>
    <div id="navbar" class="nav navbar-nav navbar-right navbar-static-top">
      <ul class="nav navbar-nav">
        {% if page.active == "home" %}
          <li class="active"><a href="#">Home</a></li>
        {% else %}
          <li><a href="/">Home</a></li>
        {% endif %}

        {% if page.active == "people" %}
          <li class="active"><a href="#">People</a></li>
        {% else %}
          <li><a href="/people">People</a></li>
        {% endif %}

        {% if page.active == "projects" %}
          <li class="active"><a href="#">Projects</a></li>
        {% else %}
          <li><a href="/projects">Projects</a></li>
        {% endif %}

        {% if page.active == "papers" %}
          <li class="active"><a href="#">Papers</a></li>
        {% else %}
          <li><a href="/papers">Papers</a></li>
        {% endif %}

        {% if page.active == "blog" %}
          <li class="active"><a href="#">Blog</a></li>
        {% else %}
          <li><a href="/blog">Blog</a></li>
        {% endif %}

        {% if page.active == "contact" %}
          <li class="active"><a href="#">Contact</a></li>
        {% else %}
          <li><a href="/contact">Contact</a></li>
        {% endif %}

      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>
