<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Luis Zaman</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        {% if page.active == "about" %}
          <li class="active"><a href="#">About</a></li>
        {% else %}
          <li><a href="/index.html">About</a></li>
        {% endif %}

        {% if page.active == "projects" %}
          <li class="active"><a href="#">Projects</a></li>
        {% else %}
          <li><a href="/projects">Projects</a></li>
        {% endif %}

        {% if page.active == "publications" %}
          <li class="active"><a href="#">Publications</a></li>
        {% else %}
          <li><a href="https://scholar.google.com/citations?user=NvhNZQQAAAAJ&hl=en" target="_new">Publications</a></li>
        {% endif %}

        {% if page.active == "contact" %}
          <li class="active"><a href="#">Contact</a></li>
        {% else %}
          <li><a href="/contact">Contact</a></li>
        {% endif %}

    </ul>
  </div>
</nav>