<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
	<div class="well">
		<a class="popover" data-trigger="hover"> something something something </a>
			<img src="{{site.baseurl}}{{person.image}}" class="img-circle" height=200>

		</br>
		<h3>{{person.name}}</h3>
		<h4 class="text-danger">{{ person.role }}</h4>
		</br>
		
		<ul class="list-group text-left">
		{% if person.twitter %}
			<li class="list-group-item"> <i class="fa fa-twitter"> <a href="https://twitter.com/{{person.twitter}}" target="_blank"> {{person.twitter}} </a></i> </li>
		{% endif %}

		{% if person.email %}
			<li class="list-group-item"> <i class="fa fa-envelope"> <a href="mailto:{{person.email}}" target="_blank"> {{person.email}} </a></i> </li>
		{% endif %}

		</ul>

	</div>
</div>