$font-size-base: 14px;
$font-size-large: 28px;


$theme-darker: #2B3A42;
$theme-dark: #3F5765;
$theme-light: #BDD4DE;
$theme-lighter: #EFEFEF;
$theme-accent: #E60000;
$theme-lightest: #FFFFFF;


$brand-primary:         darken($theme-light, 6.5%) !default; // #337ab7
$brand-success:         $theme-dark !default;
$brand-info:            $theme-darker !default;
$brand-warning:         $theme-lighter !default;
$brand-danger:          $theme-accent !default;


$navbar-default-bg: rgba($theme-dark, 0.6) !default;
$navbar-default-color: $theme-lighter;
$navbar-default-brand-color: $theme-lighter;
$navbar-default-link-color: $theme-light !default;
$navbar-default-link-active-color: $theme-accent;
$navbar-default-link-hover-color: $theme-lightest;


$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 5.5%) !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 15%) !default;




$body-bg:                $theme-lighter !default;
//** Global text color on `<body>`.
$text-color:            $theme-darker !default;

//** Global textual link color.
$link-color:            darken($brand-primary, 20%) !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;



@import "bootstrap/variables";
